body{
    margin:0;
    padding:0;
    background: #c6c8ca;
}

body,div,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    word-wrap: break-word;
}
a,a:hover{
    text-decoration: none;
    color:inherit;
}

.navbar,#person_show{
    color:black;
    background: #ffffff;
}
div{

    display:block;
}
dt,dd{
    float:left;
    padding-left:5px;
}


#left_content .list-group-item{
    padding:15px;
    margin:0;
    height: 150px;
    margin-top:5px;
    margin-bottom:5px;
}
#left_content .list-group-item:hover{
    background: #f7f7f7;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    color:#ca0c16;
}

#left_content .list-group-item-heading{
    background-color:inherit;
}
#left_content .list-group-item+.list-group-item {
    border-top-width: 1px;
}
#left_content .list-group-item:first-child,#left_content .list-group-item:last-child{
    border-top-left-radius:0;
    border-top-right-radius: 0;
}
#left_content .fixed-top{
    position:unset;
}


#right_content #left_content{
    /**float: right;*/
    word-wrap: break-word;
    display : inline-block;

    padding:0;

}
#web_content{
    display: flex;
    justify-content: center;
    margin-top:5px;
    margin-left:25px;
    margin-right:25px;
}
#person_show{
    margin-top:5px;
    margin-bottom: 5px;
    min-height: 180px;
    align-items: center;/*组件居中*/
    justify-content: center;/*组件居中*/
    display: grid;/*组件居中*/

}
#web_navbar{
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
#web_footer{
    /*position:fixed;*/
    bottom: 0px;
    right:0;
    left:0;
    z-index:1030
}

.interval{
    float: left;
    width: 1px;
    height: 12px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}
.list-group-item{
    padding:0;
    margin:0;
    margin-top:5px;
    margin-bottom:5px;
}
.fixed-top{
    position:unset;
}