.testdiv{
    border: 3px solid;
    width: 1000px;
    max-height: 500px;
}

div{
    word-wrap: break-word;
    display:block;
}
#web_content{
    display: flex;
    justify-content: center;
    margin-top:5px;
}

#right_content #left_content{
    /**float: right;*/
    word-wrap: break-word;
    display : inline-block;
    margin:5px;
    padding:0;

}

#web_navbar{
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.list-group-item{
    padding:inherit;
}