body{
    margin:0;
    padding:0;
    background: #c6c8ca;
}
.testdiv{
    border: 3px solid;
    width: 1000px;
    max-height: 500px;
}

div{
    word-wrap: break-word;
    display:block;
}

.list-group-item{
    padding:0;
    margin:0;
    margin-top:5px;
    margin-bottom:5px;
    max-height: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.list-group-item-heading{
    background-color:inherit;
}
.list-group-item+.list-group-item {
    border-top-width: 1px;
}
.list-group-item:first-child .list-group-item:last-child{
    border-top-left-radius:0;
    border-top-right-radius: 0;
}
.fixed-top{
    position:unset;
}
#right_content #left_content{
    /**float: right;*/
    word-wrap: break-word;
    display : inline-block;
    margin:5px;
    padding:0;

}
#web_content{
    display: flex;
    justify-content: center;
    margin-top:5px;
}
#person_show{
    margin-top:5px;
    margin-bottom: 5px;
    background-color:#5a6268;
    min-height: 180px;

}
#web_navbar{
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
#web_footer{
    /*position:fixed;*/
    bottom: 0px;
    right:0;
    left:0;
    z-index:1030
}
