{% extends "bootstrap/base.html" %}

{% block body %}
<link href="/static/css/mblog.css" rel="stylesheet">
<div class="container">
{% block content %}
    <div class="span12">
    <h3 class="text-center">
        {{ contents.artircle_title }}
    </h3>
    <span></span>
    <span></span>
    <span>创建时间:</span>
    <span>{{ contents.create_time }}</span>
    <span>阅读数:</span>
    <span>{{ contents.read_num }}</span>
    <p class="badge">
        <p>{{ contents.article_content | safe}}</p>
    </p>
</div>
{% endblock %}
</div>
{% endblock %}