{% block content %}
<header id="header" class="main-header">
                    <!-- Logo -->
    <a href="javascript:;" class="logo">
        <!-- 迷你模式下Logo的大小为50X50 -->
        <span class="logo-mini">圈芽</span>
        <!-- 普通模式下Logo -->
        <span class="logo-lg"><b>圈芽</b></span>
    </a>
    <div class="wrapper" style="height: auto;">
    <!-- 顶部通栏样式 -->
    <nav class="navbar navbar-static-top">
        <!--第一级菜单-->
        <div id="firstnav">
            <!-- 边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
            <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist" style="width: 690px;"><li class="dropdown pull-right hide tabdrop"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="glyphicon glyphicon-align-justify"></i> <b class="caret"></b></a><ul class="dropdown-menu"></ul></li>
                        <li role="presentation" id="tab_1" class="active"><a href="#con_1" node-id="1" aria-controls="1" role="tab" data-toggle="tab"><i class="fa fa-dashboard"></i> <span>控制台</span> <span class="pull-right-container"> <small class="label pull-right bg-blue">hot</small></span></a></li></ul>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/index/circle/boutique" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i></a>
                    </li>

                    <li class="dropdown notifications-menu hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">最新消息</li>
                            <li>
                                <!-- FastAdmin最新更新信息,你可以替换成你自己站点的信息,请注意修改public/assets/js/backend/index.js文件 -->
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">

                                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                            </li>
                            <li class="footer"><a href="#" target="_blank">查看更多</a></li>
                        </ul>
                    </li>

                    <!-- 账号信息下拉框 -->
                    <li class="hidden-xs">
                        <a href="javascript:;" data-toggle="checkupdate" title="检测更新">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </li>

                    <!-- 清除缓存 -->
                    <li>
                        <a href="javascript:;" data-toggle="dropdown" title="清空缓存">
                            <i class="fa fa-trash"></i>
                        </a>
                        <ul class="dropdown-menu wipecache">
                            <li><a href="javascript:;" data-type="all"><i class="fa fa-trash"></i> 一键清除缓存</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" data-type="content"><i class="fa fa-file-text"></i> 清空内容缓存</a></li>
                            <li><a href="javascript:;" data-type="template"><i class="fa fa-file-image-o"></i> 清除模板缓存</a></li>
                            <li><a href="javascript:;" data-type="addons"><i class="fa fa-rocket"></i> 清除插件缓存</a></li>
                        </ul>
                    </li>

                    <!-- 多语言列表 -->
                                    <li class="hidden-xs">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                        <ul class="dropdown-menu">
                            <li class="active">
                                <a href="?ref=addtabs&amp;lang=zh-cn">简体中文</a>
                            </li>
                            <li class="">
                                <a href="?ref=addtabs&amp;lang=en">English</a>
                            </li>
                        </ul>
                    </li>

                    <!-- 全屏按钮 -->
                    <li class="hidden-xs">
                        <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
                    </li>

                    <!-- 账号信息下拉框 -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/img/avatar.png" class="user-image" alt="Admin">
                            <span class="hidden-xs">Admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/assets/img/avatar.png" class="img-circle" alt="">

                                <p>
                                    Admin                                <small>2020-03-31 14:50:45</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="https://www.fastadmin.net" target="_blank">FastAdmin</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="https://forum.fastadmin.net" target="_blank">交流社区</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="https://doc.fastadmin.net" target="_blank">官方文档</a>
                                    </div>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="general/profile" class="btn btn-primary addtabsit"><i class="fa fa-user"></i>
                                        个人配置</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/admin/index/logout" class="btn btn-danger"><i class="fa fa-sign-out"></i>
                                        注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- 控制栏切换按钮 -->
                    <li class="hidden-xs">
                        <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </div>
</header>
{% endblock %}