{% extends "bootstrap/base.html" %}
{% block body %}
<link href="/static/css/mblog.css" rel="stylesheet">
<div class="container">
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2rem;border-radius: .3rem;">
    <a class="navbar-brand" href="/">Mlcblog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">主页
            <span class="sr-only">(current)</span></a>

            <span>{{ response }}</span>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if session.get('username')  %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("Article_BP.edit_article")}}">发表文章</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">{{ session.get('username') }}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("User_BP.logout")}}">退出</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("User_BP.login")}}">登陆</a>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>
        MLC 个人博客
    </h1>
    <p>
        这是个简单的博客，但对博主我来说，这是一个开始。希望自己能坚持更新内容，更新功能吧。不管三七二十一，挂在网上再说。
    </p>
    <p>
         <!--a class="btn btn-primary btn-large" href="#">更多</a-->
    </p>
</div>
<div class="row clearfix" style="background: unset">
<div id="left_content" class="col-md-8 column">
    <div class="list-group">
        {% for item in contents %}
        <div class="list-group-item border-0">
            <h4 class="list-group-item-heading">
                <a href="{{ url_for("Article_BP.read_article",articleid=item.id) }}" id="article_title" style="font-size: 18px;font-weight: bold">
                {{ item.artircle_title|safe }}
                </a>
            </h4>
            <p class="p_content" class="list-group-item-text border-0 text-break">
                {{ item.article_content| safe }}
            </p>
        </div>
        <div class="list-group-item border-0 ">
            <div class="border-bottom text-right">
             <span>阅读数:{{ item.read_num }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-4 column">
    <div class="list-group">
         <span href="#" class="list-group-item active">热门文章</span>
        {% for item in contents %}
        <div class="list-group-item">
            <a href="{{ url_for("Article_BP.read_article",articleid=item.id) }}">
                {{ item.artircle_title | safe}}
                <span class="badge badge-pill badge-primary">{{item.read_num}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="list-group">
         <span class="list-group-item active">最新文章</span>
        {% for item in contents %}
        <div class="list-group-item">
            <a href="{{ url_for("Article_BP.read_article",articleid=item.id) }}">
                {{ item.artircle_title |safe}}
                <span class="badge badge-pill badge-primary">{{item.read_num}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="list-group">
         <span class="list-group-item active">友情链接</span>
        {% for item in contents %}
        <div class="list-group-item">
            {{ item.artircle_title }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="web_footer" class="row clearfix">
    <div class="col-md-12 column">
        &copy; Copyright 2020 by <a href="http://domain.invalid/">you</a>.
    </div>
</div>
</div>
{% endblock %}
</div>
{% endblock %}