{% block content %}
<div class="jumbotron">
    <h1>
        MLC 个人博客
    </h1>
    <p>
        这是个简单的博客，但对博主我来说，这是一个开始。希望自己能坚持更新内容，更新功能吧。不管三七二十一，挂在网上再说。
    </p>
    <p>
         <!--a class="btn btn-primary btn-large" href="#">更多</a-->
    </p>
</div>
<!--div class="row-fluid">
<div class="span12">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
</div-->
{% endblock %}