{% block content %}
<div id="left_content" class="container-fluid col-8">
    <ul style="background:#fff;">
        {% for item in contents %}
        <li style="height: 135px;width:100%;position: relative;margin-top:5px">
            <div style="margin-top: 10px;margin-left: 10px;margin-right: 10px;overflow: hidden">
                <a href="javascript:void(0);" id="article_title" href="javascript:void(0);" style="font-size: 18px;font-weight: bold" onclick="load_article({{ item.articleid }})">
                    {{ item.title }}
                </a>
                <p class="" style="color: #a8a8a8;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ item.content }}</p>
            </div>
        </li>
        <div class="interval"></div>
        {% endfor %}
    </ul>
</div>
<style>
#left_content ul{
    position: relative;
    padding:5px;
}
span:hover{
    color:red;
}

.interval{
    width: auto;
    height: 1px;
    border-radius: 50%;
    background-color: #f7f7f7;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}
</style>

{% endblock %}