{% block content %}
<div id="left_content" class="col-8">
    {% for item in contents %}
    <ul>
        <li style="height: 135px;background:#fff;width: 100%;position: relative">
            <div style="margin-top: 10px;margin-left: 10px;margin-right: 10px;overflow: hidden">
                <a href="{{ contents[item].title }}" style="font-size: 18px;font-weight: bold">
                    {{ contents[item].title }}
                </a>
                <p class="" style="color: #a8a8a8;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ contents[item].content }}</p>
            </div>
            <div style="position: absolute;bottom:10px;right: 10px;font-size: 14px;">
                <ul class="list-inline">
                    <li>
                        <a href={{ contents[item].title }} >
                            <img src={{ contents[item].avatar }} class="img-circle">
                        </a>
                    </li>
                    <li>
                        <a href={{ contents[item].username }} >
                            {{ contents[item].username }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ contents[item].username }}">
                            {{ contents[item].view }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ contents[item].username }}">
                            {{ contents[item].view }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ contents[item].username }}">
                            {{ contents[item].view }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
<style>
#left_content ul{
    position: relative;
    padding:5px;
}
</style>
{% endblock %}