<form action="" method="post">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: block;border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户登陆</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control"placeholder="用户名" autocomplete="off">
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control"placeholder="密码" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">注册</button>
                    <button type="submit" class="btn btn-primary">登陆</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</form>
<style>
    .modal-header{

    }
    .modal-footer{
        border: none;
    }
</style>